@import "tailwindcss";

@theme inline {
    --color-background: #ffffff;
    --color-foreground: #171717;
    --color-primary: #af4106;
    --color-secondary: #d87d3c;
    --color-tertiary: #b39c66;
    --font-sans: var(--font-inter-sans);
    --font-serif: var(--font-old-standard-serif);
    --animate-people-walk: people-walk 10s ease-in-out infinite;
}

@keyframes people-walk {
    0% {
        opacity: 0;
        transform: scaleX(1);
    }

    8% {
        opacity: 1;
        transform: scaleX(1);
    }

    42% {
        opacity: 1;
        transform: scaleX(1);
    }

    50% {
        opacity: 0;
        transform: scaleX(1);
    }

    50.1% {
        opacity: 0;
        transform: scaleX(-1);
    }

    58% {
        opacity: 1;
        transform: scaleX(-1);
    }

    92% {
        opacity: 1;
        transform: scaleX(-1);
    }

    100% {
        opacity: 0;
        transform: scaleX(-1);
    }
}

@utility container {
    padding-inline: 1rem;

    @media (width >=640px) {
        padding-inline: 2rem;
    }
}

body {
    background: url(/texture.jpg);
    background-repeat: repeat;
    color: var(--foreground);
}
